.nav-item {
  display: flex;
  flex-direction: row;
  text-align: center;
  gap: 40px;
  text-decoration: none;
}
.logo-container {
  align-items: center;
}
.logo {
  height: 50px;
  width: 50px;
}

.descriptive-image {
  width: 100;
  max-width: 600px;
  height: auto;
  margin: 20px 0;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(red, green, blue, alpha);
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: bisque;
  color: rgb(155, 141, 63);
  padding: 1rem;
  text-align: center;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  display: flex;
  margin: 0 10px;
}
nav ul li a {
  color: rgb(155, 140, 58);
  text-decoration: none;
  text-align: center;
}

main {
  padding: 2rem;
}

footer {
  background-color: #333;
  color: gold;
  text-align: center;
  padding: 1rem;
  position: relative;
  bottom: 0;
  width: 100%;
}
