.nav-item {
  display: flex;
  flex-direction: row;
  text-align: center;
  gap: 40px;
  text-decoration: none;
}
.logo-container {
  align-items: center;
}
.logo {
  height: 50px;
  width: 50px;
}

.descriptive-image {
  width: 100;
  max-width: 600px;
  height: auto;
  margin: 20px 0;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(red, green, blue, alpha);
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: bisque;
  color: rgb(155, 141, 63);
  padding: 1rem;
  text-align: center;
}
